<a href="https://colab.research.google.com/github/FernandoLajus/br-python-condensed/blob/main/(Resolvido)%20Python_exercises_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![](https://i.imgur.com/YX6UATs.png)

### **Exercícios de Python - 3**

1 - Classe Bola:\
Crie uma classe que modele uma bola:

Atributos: Cor, material\
Métodos: trocaCor

In [ ]:
class Bola():
  def __init__ (self, Marca, Cor, Material):
    self.Cor = Cor
    self.Material = Material

In [3]:
nike = Bola("Nike","Branca", "Borracha")

In [ ]:
adidas =Bola("Adidas","Preta", "Borracha")

In [ ]:
adidas.Marca

'Adidas'

In [2]:
class Bola():
  def __init__ (self, Marca, Cor, Material):
    self.Marca = Marca
    self.Cor = Cor
    self.Material = Material

  def msg_det(self):
    print(f"A bola {self.Marca} tem a cor {self.Cor} e é feita de {self.Material}.")

In [4]:
nike.msg_det()

A bola Nike tem a cor Branca e é feita de Borracha.

2 - Classe Quadrado: Crie uma classe que modele um quadrado:

Atributos: Tamanho do lado
Métodos: Mudar valor do Lado e calcular Área;

In [ ]:
class Quadrado:
  def __init__ (self, lado_cm, area):
    self.lado_cm=lado_cm

  def area_quadrado(self, taxa=2):
    self.area= self.lado_cm**taxa

  def print_msg (self):
    print (f"O quadrado a tem {self.lado_cm} metros e {self.area} metros quadrados")

In [ ]:
a=Quadrado(15,0)

In [ ]:
a.area_quadrado()

In [ ]:
print (a.area)

225

In [ ]:
a.print_msg()

O quadrado a tem 15 metros e 225 metros quadrados

3 - Classe funcionário \
Crie uma classe que crie funcionários de uma empresa.\
Atributos: Nome, Função, Salário. \
Métodos: aumento anual. O aumento anual deve ser de 10%.\
Crie dois objetos e dê um aument de 10% a um deles e um aumento de 20% ao outro.

In [24]:
class empresa:
  def __init__ (self, Nome, Função, Salario):
    self.Nome= Nome
    self.Função= Função
    self.Salario= Salario

  def aumento_salario(self,taxa=0.1):
    self.Salario=self.Salario+taxa*self.Salario

In [29]:
João = empresa("João", "Data Analist", 4000)
Maria = empresa("Maria", "Data Scientist", 4800)
Ausgusto = empresa("Ausgusto", "RH", 3500)

In [30]:
Maria.aumento_salario()

In [31]:
Maria.Salario

5280.0

04 - Utilizando a biblioteca Numpy, obtenha as médias, medianas e desvios padrão de altura, peso e IMC dos membros do dicionário a seguir:\
Trasforme os dicionários em um numpy array e utilize os métodos próprios dessa classe.

In [59]:
clientes = {'Charlotte': {'altura': 1.56, 'imc': 21, 'peso': 52, 'sexo': 'F'},
 'Claudia': {'altura': 1.56, 'imc': 25, 'peso': 62, 'sexo': 'F'},
 'Jonas': {'altura': 1.56, 'imc': 21, 'peso': 52, 'sexo': 'M'},
 'Martha': {'altura': 1.98, 'imc': 19, 'peso': 76, 'sexo': 'F'},
 'Mikkel': {'altura': 1.56, 'imc': 28, 'peso': 67, 'sexo': 'M'},
 'Ulrich': {'altura': 1.92, 'imc': 22, 'peso': 80, 'sexo': 'M'}}

In [65]:
clientes['imc'].mean()

KeyError: ignored

In [57]:
type (clientes)

dict

In [36]:
import numpy as np

In [66]:
df= np.array(clientes)
print (df)

{'Charlotte': {'altura': 1.56, 'imc': 21, 'peso': 52, 'sexo': 'F'}, 'Claudia': {'altura': 1.56, 'imc': 25, 'peso': 62, 'sexo': 'F'}, 'Jonas': {'altura': 1.56, 'imc': 21, 'peso': 52, 'sexo': 'M'}, 'Martha': {'altura': 1.98, 'imc': 19, 'peso': 76, 'sexo': 'F'}, 'Mikkel': {'altura': 1.56, 'imc': 28, 'peso': 67, 'sexo': 'M'}, 'Ulrich': {'altura': 1.92, 'imc': 22, 'peso': 80, 'sexo': 'M'}}

In [75]:
np.mean({'imc'})

TypeError: ignored

In [50]:
df

array({'Charlotte': {'altura': 1.56, 'imc': 21, 'peso': 52, 'sexo': 'F'}, 'Claudia': {'altura': 1.56, 'imc': 25, 'peso': 62, 'sexo': 'F'}, 'Jonas': {'altura': 1.56, 'imc': 21, 'peso': 52, 'sexo': 'M'}, 'Martha': {'altura': 1.98, 'imc': 19, 'peso': 76, 'sexo': 'F'}, 'Mikkel': {'altura': 1.56, 'imc': 28, 'peso': 67, 'sexo': 'M'}, 'Ulrich': {'altura': 1.92, 'imc': 22, 'peso': 80, 'sexo': 'M'}},
      dtype=object)

05 - Realize o mesmo procedimento com a biblioteca Statistics

In [35]:
import statistics as st

Exercícios adaptados de Python Brasil